body{
    background-color: #DDDDDD;
    margin: 0 auto;
    min-width: 900px;
    margin-bottom:30px;
    overflow-x: hidden
}.save{
    margin-bottom: 20px;
}.btn.btn-warning{
    font-size: 25px;
    background-color: #ab0000;
    border-color: rgba(50, 50, 50, 0.5);
    color: #FFF;
    box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.5);
}.btn.btn-warning:hover{
    background-color: #7A0000;
    color: #E6E6E6;
}::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}
::-webkit-scrollbar-track-piece{
    background-color: #DDDDDD;
}
::-webkit-scrollbar-thumb:vertical {
    background-color: #373737;
}#positioner{
    position: relative;
    min-height: 700px;
}.usebottomborder{
    margin-bottom:1px;
}.darkbg{
    background-color: #CCC;
}.notopborder{
    border-top: none;
}.margtop{
    margin-top: 10px;
}.pad{
    padding-bottom: 5px;
}.force{
    padding-right:435px;
}.preview{
    width: 405px;
    position: absolute;
    top: 0;
    right: 0;
}.container{
    max-width: 1200px !important;
    width: 90%;
}iframe{
    overflow-x: hidden;
    box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.5);
}.center-view{
    margin: 20px auto;
}.navbar{
    background-color: #373737;
    border: 1px solid #BBB;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0px;
}.navbar-nav > li > a{
    color: #F2f2f2;
}.navbar-nav > li > a:hover{
    color: #3f80cc;
    background-color: #222;
}.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus{
    color: #3f80cc;
    background-color: #222;
    text-shadow: -1px 1px 2px #404040;
}.content{
    background-color: #b4ebf8;
    border: 2px solid #000;
    margin-top: 30px;
    border-radius: 10px;
}.panel-primary, .navbar{
    border-color: rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.5);
}.panel-primary .panel-heading.nomarg{
    margin-bottom: 0px;
}.panel-primary .panel-heading{
    background-color: #373737;
    border-color: #BBB;
    color: #f2f2f2;
}.panel .list-group{
    margin-top: 0px;
}.navbar-brand{
    margin-left: 0px;
    color: #f2f2f2;
    padding-left: 5px;
    padding-top: 17px;
    padding-bottom: 12px;
}.navbar-brand:hover{
    color: #f2f2f2; /* Overwrite the default */
}.list-group-item{
    background-color: #f2f2f2;
    border-color: #CFCFCF;
}.list-group-item:first-child{
    border:none;
}input[type="color"]{
    padding: 0;
    width: 40px;
    height: 20px;
    border: none;
}#offline_preview, #online_preview{
    margin: 0 auto;
}.margleft-20{
    margin-left: 20px;
}.largtxt{
    font-size: 20px;
}.nopad{
    padding: 0px;
}textarea{
    min-height: 150px;
    margin-top:15px;
    width: 100%;
    tab-size: 4;
    background-color: #EEE;
    font-family: monospace;
    border-color: #CCC;
    box-shadow: inset 0 0 15px #CCC;
}.btn.btn-primary{
    background-color: #373737;
    border-color: #D2D2D2;
}.btn.btn-primary:hover{
    background-color: #222;
    color: #3f80cc;
}footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(239,239,239,.75);;
	border-top: 1px solid black;
	padding: .5em 1em;
}#save-msg{
	color: #333;
	font-weight: bold;
}#icon_preview{
    padding-top:25px;
}.color {
    width: 100%;
}#badge{
	position: relative;
	top: 9px;
	right: 12px;
	font-size: 66%;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(to bottom,  rgba(96, 255, 192, .75) 0%, rgba(21, 85, 43, .75) 100%);
	border-radius: 3px;
	font-weight: bold;
	border: 1px solid #aaa;
	line-height: 1em;
	display: inline-block;
	padding: 0 2px;
}.sp-replacer{
	border-radius: 3px;
}#changes, #notificationLink-parent{
	display: none;
}td[rowspan="2"]{
	vertical-align: top;
	padding: 0 1em;
}td[colspan="2"]{
	height: 1em;
}th{
	vertical-align: top;
	text-align: right;
}.versionName{
	text-align: left;
	font-style: italic;
}.versionName:before{
	content: '-- ';
}.modal-dialog{
	width: 700px;
}.disabled{
	color: #888;
}
